<div class="card">
  <div class="card-header">
    <h3>Comment</h3>
    <p>Created by {{user.user_name}} on: {{format_date createdAt}}</p>
  </div>
  <div class="card-body">
    <p>{{comment_description}}</p>
  </div>
</div>