<div class="card">
  <div class="card-header comment-card-header">
    <h3>{{user.user_name}} commented</h3>
    <p class="medium-text creation-details">on:
      {{format_date createdAt}}
      @
      {{format_time createdAt}}</p>
  </div>
  <div class="card-body">
    <p>{{comment_description}}</p>
  </div>
</div>