<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techies Blog</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <h1>Techies' Blog</h1>
      <div id="nav-links">
        <h3><a href="/">Home</a></h3>
        <h3><a href="/dashboard">Dashboard</a></h3>
        {{#if loggedIn}}
          <h3 id="logout">Log Out</h3>
        {{else}}
          <h3><a href="/login">Log In</a></h3>
        {{/if}}
      </div>

    </nav>
    <div id="root">
      {{{body}}}
    </div>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>