<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techies Blog</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <h1>Techies' Blog</h1>
      <div id="nav-links">
        <h3><a href="/">Home</a></h3>
        <h3><a href="/dashboard">My Dashboard</a></h3>
        {{#if loggedIn}}
          <h3 id="logout">Log Out</h3>
        {{else}}
          <h3><a href="/login">Log In</a></h3>
        {{/if}}
      </div>
    </nav>
    <div id="root">
      {{{body}}}
    </div>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>