<div class="card">
  <div class="card-header">
    <h3>{{thisBlogPost.blog_title}}</h3>
    <p>Created by
      {{thisBlogPost.user.user_name}}
      on:
      {{format_date thisBlogPost.createdAt}}</p>
  </div>
  <div class="card-body">
    <p>{{thisBlogPost.blog_description}}</p>
  </div>
</div>
{{#each thisBlogPost.comments as |comment|}}
{{> comment}}
{{/each}}

<div class="card">
  <div class="card-header">
    <h3>Leave a comment</h3>
  </div>
  <div class="card-body">
    <label for="comment-form">Type Here</label>
    <input type="text" name="comment-form" id="comment-form">
    <button id="save-comment">Submit Comment</button>
  </div>
</div>
<script src="/js/blogpost.js"></script>
