<div class="card">
  <div class="card-header">
    <h3>Create New Blog Post</h3>
  </div>
  <div class="card-body">
    <div class="input-div">
      <label for="blog-title">Blog title</label>
      <input type="text" name="blog-title" id="blog-title"></input>
    </div>
    <div class="input-div">
      <label for="blog-form">Type your thoughts here</label>
      <textarea type="text" name="blog-form" id="blog-form"></textarea>
    </div>
    <button id="save-blog">Submit Blog</button>
  </div>
</div>
<script src="/js/create-blog.js"></script>