<div id="dashboard-body">
        <div id="dashboard-font-stack">
            <h1>Your Blog Posts</h1>
            <a href="/create-new">
            <button type="submit" >Create New Blog</button>
        </a>
        </div>
        {{#if isBlogs}}
        {{#each blogPosts as |blog|}}
            {{> blogpost-preview}}
        {{/each}}
        {{else}}
        <div id="empty-state-div">
            <img id="empty-illy" src="/images/blog-empty-state.svg" alt="">
            <h2>Looks like you dont have any blogs posts yet</h2>
            <p class="large-text">create your first blogpost for everyone to read</p>
        </div>
        {{/if}}
</div>