<div id="home-header">
     {{#if loggedIn}}
    <div id="home-header-font-stack">
      <h1>Welcome to Techies' Blog</h1>
      <p class="medium-text">View, comment on, or create your own blog</p>
    </div>
    <a href="/create-new">
    <button type="submit" >Create New Blog</button>
    </a>
    {{else}}
    <div id="home-header-font-stack">
      <h1>Welcome to Techies' Blog</h1>
      <p class="medium-text">Login or sign up if you want to view blogs and comment</p>
    </div>  
    {{/if}}
</div>
  {{#each blogPosts as |blog|}}
 {{> blogpost-preview}}
  {{/each}}
