<div id="home-header">
     {{#if loggedIn}}
    <div id="home-header-font-stack">
      <h1>Welcome to Techies' Blog</h1>
      <p class="medium-text">View, comment on, or create your own blog</p>
    </div>
    {{else}}
    <div id="home-header-font-stack">
      <h1>Welcome to Techies' Blog</h1>
      <p class="medium-text">Login or sign up if you want to view blogs and comment</p>
    </div>  
    {{/if}}
</div>
{{#if isBlogs}}
  {{#each blogPosts as |blog|}}
 {{> blogpost-preview}}
  {{/each}}
{{else}}
        <div id="empty-state-div">
            <img id="empty-illy" src="/images/blog-empty-state.svg" alt="">
            <h2>Looks like you dont have any blogs</h2>
            <p class="large-text">Visit My Dashboard to create the first!</p>
        </div>
{{/if}}