<div id="login-forms">
  <div class="card" id="login-tile">
    <div class="card-header">
      <h3>Log In</h3>
    </div>
    <div class="card-body">
      <label for="login-input">User Name</label>
      <input id="login-input" type="text" />
      <label for="login-password">Password</label>
      <input id="login-password" type="text" />
    </div>
  </div>
  <div class="card" id="login-tile">
    <div class="card-header">
      <h3>Log In</h3>
    </div>
    <div class="card-body">
      <label for="sign-up-input">User Name</label>
      <input id="sign-up-input" type="text" />
      <label for="sign-up-email">Email</label>
      <input type="sign-up-email" />
      <label for="sign-up-password">Password</label>
      <input id="sign-up-password" type="text" />
    </div>
  </div>
</div>