<div id="login-forms">
  <div class="card" id="login-tile">
    <div class="card-header">
      <h3>Log In</h3>
    </div>
    <div class="card-body">
      <div class="input-div">
        <label for="login-email">Email</label>
        <input id="login-email" type="text" />
      </div>
      <div class="input-div">
        <label for="login-password">Password</label>
        <input id="login-password" type="text" />
      </div>
      <button id="login-button">Log In</button>
    </div>
  </div>
  <div class="card" id="login-tile">
    <div class="card-header">
      <h3>Sign Up</h3>
    </div>
    <div class="card-body">
      <div class="input-div">
        <label for="sign-up-name">User Name</label>
        <input id="sign-up-name" type="text" />
      </div>
      <div class="input-div">
        <label for="sign-up-email">Email</label>
        <input id="sign-up-email" type="text" />
      </div>
      <div class="input-div">
        <label for="sign-up-password">Password</label>
        <input id="sign-up-password" type="text" />
      </div>
      <button id="signup-button">Save and Log In</button>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>