/* README: Added styles to be reused across projects. All of which are part of a design system that I have been building to enhance my knowledge of UI Design.*/

/* Contains style variables to be reused throughout the page */
:root {
  --neutral-000: #fafbfb;
  --neutral-100: #f8f8f9;
  --neutral-200: #f0f1f2;
  --neutral-300: #cdd3d6;
  --neutral-400: #b9bec1;
  --neutral-500: #a4a9ab;
  --neutral-600: #9a9ea1;
  --neutral-700: #7b7f80;
  --neutral-800: #5c5f60;
  --neutral-900: #484a4b;

  --primary-100: #e0eff5;
  --primary-500: #2e94b9;
  --primary-900: #1c596f;

  --secondary-100: #ede0f4;
  --secondary-500: #872eb8;
  --secondary-900: #511c6e;

  --success-100: #e0f5e9;
  --success-500: #2eb96e;
  --success-900: #1c6f42;

  --warning-100: #fdf4ea;
  --warning-500: #f0b775;
  --warning-900: #906e46;

  --danger-100: #ffe6e6;
  --danger-500: #fd5959;
  --danger-900: #983535;

  /* Stylistic opacities.  Uses '26' at the end of the hex to set opacity to 15% */
  --opacity-neutral: #484a4b26;
  --opacity-primary: #2e94b926;
  --opacity-secondary: #872eb826;
  --opacity-success: #2eb96e26;
  --opacity-warning: #f0b77526;
  --opacity-danger: #fd595926;

  /* Stylings */
  --overlay-shadow: 0px 4px 24px rgba(24, 30, 36, 0.16);
  --card-shadow: 0px 4px 4px rgba(8, 8, 8, 0.16);

  /* Text */
  --font-family-default: "Roboto";

  --font-weight-bold: 900;
  --font-weight-medium: 700;
  --font-weight-regular: 400;

  --font-h1-size: 32px;
  --font-h1-line-height: 40px;

  --font-h2-size: 24px;
  --font-h2-line-height: 32px;

  --font-h3-size: 20px;
  --font-h3-line-height: 24px;

  --font-h4-size: 14px;
  --font-h4-line-height: 16px;

  --font-large-text-size: 16px;
  --font-large-text-line-height: 20px;

  --font-medium-text-size: 14px;
  --font-medium-text-line-height: 16px;

  --font-small-text-size: 12px;
  --font-small-text-line-height: 14px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-h1-size);
  line-height: var(--font-h1-line-height);
  margin: 0;
}

h2 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-h2-size);
  line-height: var(--font-h2-line-height);
}

h3 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-h3-size);
  line-height: var(--font-h3-line-height);
}

h4 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-h4-size);
  line-height: var(--font-h4-line-height);
}

.large-text {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-large-text-size);
  line-height: var(--font-large-text-line-height);
}

.medium-text {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-medium-text-size);
  line-height: var(--font-medium-text-line-height);
}

.small-text {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-small-text-size);
  line-height: var(--font-small-text-line-height);
}

i {
  font-size: 24px;
}

/* End design system style guide */
* {
  padding: 0px;
}
body {
  background-color: var(--neutral-200);
  padding: 0px;
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  padding: 24px;
}

nav {
  height: 56px;
  background-color: var(--primary-500);
  color: var(--neutral-000);
  display: flex;
  padding: 8px 14px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: var(--card-shadow);
}

#nav-links {
  margin-left: auto;
  display: flex;
  margin-top: 8px;
  cursor: pointer;

  & h3 {
    margin-left: 24px;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }
}

.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  & label {
    color: var(--neutral-900);
    font-family: var(--font-family-default);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-small-text-size);
    line-height: var(--font-small-text-line-height);
    margin-bottom: 4px;
  }

  & input {
    background-color: var(--neutral-000);
    border: 1px solid var(--neutral-400);
    border-radius: 4px;
    height: 40px;
    padding: 0 12px;

    &:focus {
      outline: 1px solid var(--primary-500);
    }
  }

  & textarea {
    background-color: var(--neutral-000);
    border: 1px solid var(--neutral-400);
    border-radius: 4px;
    height: 40px;
    padding: 9px 12px;
  }
}

button {
  background-color: var(--primary-500);
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  color: var(--neutral-000);
  margin-left: auto;
  height: 40px;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-900);
  }
}

.card {
  background-color: var(--neutral-000);
  margin-bottom: 8px;
  max-width: 768px;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  overflow: hidden;

  & .card-header {
    background-color: var(--primary-500);
    display: flex;
    padding: 12px 16px;
    color: var(--neutral-000);
    border-radius: 8px 8px 0 0;

    & h3 {
      width: auto;
      margin-right: 16px;
    }

    & p {
      text-align: right;
    }

    & .creation-details {
      margin-left: auto;
      margin-top: 5px;
    }
  }

  & .comment-card-header {
    background-color: var(--opacity-primary);
    border: 1px solid var(--primary-500);
    color: var(--primary-500);
  }

  & .card-body {
    padding: 16px;

    & .blog-preview-bottom {
      margin-top: 16px;
      display: flex;

      & p {
        margin-left: auto;
      }

      & a {
        text-decoration: none;
        color: var(--primary-500);
      }

      & h4:hover {
        color: var(--primary-900);
      }
    }
  }
}

#home-header {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
  display: flex;

  & #home-header-font-stack {
    margin-right: auto;
  }
}
